<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548928341778-4r7lh618f1m0j8bon0n5chp0s6f2b6g4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548928341778-4r7lh618f1m0j8bon0n5chp0s6f2b6g4</string>
	<key>API_KEY</key>
	<string>AIzaSyCMmBs7SkYOnq8kHJUlIJIMcx3PVxc_XrY</string>
	<key>GCM_SENDER_ID</key>
	<string>548928341778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CoinNotif</string>
	<key>PROJECT_ID</key>
	<string>coinbell-b8866</string>
	<key>STORAGE_BUCKET</key>
	<string>coinbell-b8866.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548928341778:ios:ad13595e325b6641cc15cb</string>
</dict>
</plist>